.card {
    border: none;
}

.card-employee {
    background-image: url("/Content/Images/employee-card-bg.jpg");
    background-size: cover;
    min-height: 40vh;
    filter: brightness(70%)
}

.card-salary {
    background-image: url("/Content/Images/salary.jpg");
    background-size: cover;
    min-height: 40vh;
    filter: brightness(70%)
}
